:root {
    /*Sunset*/ 
    --bg-gradient-1: rgb(112, 169, 254);
    --bg-gradient-2: rgb(255, 179, 179);
    /* background: linear-gradient(
        var(--bg-gradient-1)20%,
        var(--bg-gradient-2)80%
        );
        height: 100vh; */

    /*Moonlight
        background: radial-gradient(
            closest-corner circle at 15% 15%,
            #ccc,
            #ccc 20%,
            #445 21%,
            #223 100%
        );
        height: 100vh;
    */

    /*Resilent 
        background: linear-gradient(              
            rgb(87, 66, 66) 50%,
            rgba(34, 34, 51, 0.881)
        );
    height: 100vh;

       background: linear-gradient(to right,            
            rgb(87, 83, 121),
            rgb(85, 68, 68),
            rgba(34, 34, 51, 0.86)
        );
    height: 100vh;

    */    
}

body{
    background: linear-gradient(              
        rgb(87, 66, 66) 50%,
        rgba(41, 41, 63, 0.881)
    );
height: 100vh;
}